In [3]:
import pandas as pd
from rouge import Rouge
from nltk.translate.bleu_score import sentence_bleu

In [4]:
# Load the Excel sheet
df = pd.read_excel(r'C:\Users\kumar\OneDrive\Desktop\Programs\officeP\testData.xlsx')

In [5]:
df.head()

,Summary,referenceSummary,Rouge,Blue
0,The cat sat on the mat.,The cat sat on the mat.,NaN,NaN
1,The dog chased the ball.,The dog ran after the ball.,NaN,NaN
2,The bird flew in the sky.,A bird was soaring in the clear sky.,NaN,NaN
3,The flowers bloomed in spring.,The garden was filled with blooming flowers.,NaN,NaN

In [6]:
# Create empty columns for ROUGE and BLEU scores
df['Rouge'] = None
df['Blue'] = None

In [7]:
# Instantiate ROUGE and BLEU objects
rouge = Rouge()

In [8]:
# Iterate through each row and calculate scores
for index, row in df.iterrows():
   summary = row['Summary']
   reference_summary = row['referenceSummary']

   # Calculate ROUGE scores
   rouge_scores = rouge.get_scores(summary, reference_summary)
   rouge_1 = rouge_scores[0]['rouge-1']['f']
   rouge_2 = rouge_scores[0]['rouge-2']['f']
   rouge_l = rouge_scores[0]['rouge-l']['f']

   # Calculate BLEU score
   bleu_score = sentence_bleu([reference_summary.split()], summary.split())

   # Store scores in the DataFrame
   df.loc[index, 'Rouge'] = f"{rouge_1:.4f}, {rouge_2:.4f}, {rouge_l:.4f}"  # Store multiple ROUGE scores
   df.loc[index, 'Blue'] = bleu_score

c:\Users\kumar\OneDrive\Desktop\Programs\VirtualENV\lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 3-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
c:\Users\kumar\OneDrive\Desktop\Programs\VirtualENV\lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 4-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
c:\Users\kumar\OneDrive\Desktop\Programs\VirtualENV\lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 2-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)

In [9]:
# Save the modified DataFrame with scores
df.to_excel('output_with_scores.xlsx', index=False)